<header>
    <div class="logo">
        <img class="head-img" th:src="@{~/images/Kanpai_logo.png}" alt="">
    </div>
    <div class="content-right">
        <div class="top-section">
            <form class="search-form">
                <input class="search-input" type="text" name="search" id="search" placeholder="Search the products...">
                <button class="for-search" type="submit"><img class="search" th:src="@{/images/search.png}" alt=""></button>
            </form>
            <div class="for-cart">
                <a class="a-header" th:href="@{/user/cart}"><img class="cart-img" th:src="@{/images/cart.png}"></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/landing}"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a th:href="@{/landing#products-section}"><i class="fa-solid fa-gift"></i> Products</a></li>
                <li><a th:href="@{/user/contact}"><i class="fa-solid fa-address-book"></i> Contact us</a></li>
                <li><a th:href="@{/user/aboutus}"><i class="fa-solid fa-address-card"></i> About us</a></li>
                <li><a th:href="@{/user/notifications}"><i class="fa-solid fa-flag"></i> Notices</a></li>
                <li><a th:href="@{/user/create}"><i class="fa-solid fa-user-plus"></i> Signup</a></li>
            </ul>
        </nav>
    </div>
</header>
