<header>
    <div class="logo">
        <img class="head-img" th:src="@{~/images/Kanpai_logo.png}" alt="">
    </div>
    <div class="content-right">
        <div class="top-section">
            <form class="search-form">
                <input class="search-input" type="text" name="search" id="search" placeholder="Search the products...">
                <button class="for-search" type="submit"><img class="search" th:src="@{/images/search.png}" alt=""></button>
            </form>
            <div class="for-cart">
                <a class="a-header" th:href="@{/user/cart}"><img class="cart-img" th:src="@{/images/cart.png}"></a>
            </div>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/landing}">Home</a></li>
                <li><a th:href="@{/landing#products-section}">Products</a></li>
                <li><a th:href="@{/user/contact}">Contact us</a></li>
                <li><a th:href="@{/user/aboutus}">About us</a></li>
                <li><a th:href="@{/user/create}">Signup</a></li>
            </ul>
        </nav>
    </div>
</header>
