* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    height: 100vh;
    background-color: #212324;;
}
.col-lg-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 100vh;
    width: 250px;
}
.img-icon {
    margin-left: 20px;
}
.profile-text {
    color: white;
}
.profile-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 10vh;
    border-bottom: 1px solid black;
}
.field-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 230px;
    height: 90vh;
    font-weight: 500;
    /* border: 1px solid blue; */
}

.sidebar-text {
    text-decoration: none;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 8px;
    border-bottom: 1px solid black;
    height: 40px;
    width: 200px;
    color: white;
}
.sidebar-text:hover {
    color: #f28e1c;
}
.profile-section {
    display: flex;
    height: 10vh;
}

main {
    display: flex;
    border: 1px#f28e1c;
}