* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #D2D2D2;
    font-size: 17px;
}
html {
    scroll-behavior: smooth;
}

/* For Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid black;
}
.logo {
    width: 50%;
}
.head-img {
    height: 100%;
    width: 20%;
}
ul {
    display: flex;
    list-style-type: none;
}
ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: black;
    display: inline-block;
}
li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #000000;
    transition: all .5s;
}
li a:hover::after {
    width: 100%;
}

/* For main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    /* height: calc(90vh - 100px); */
    
}
.whiskey-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
}
.heading-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh;
}
.h1-one {
    margin-left: 48px;
    text-decoration: underline;
}
.main-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.item-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
}
.item {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.for-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
}
.image {
    display: flex;
    width: 100%;
    height: 34vh;
    cursor: pointer;
}
.image-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}
.for-description {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
}
button {
    width: 100px;
    height: 5vh;
    background-color: #D2D2D2;
    cursor: pointer;
}
button:hover , .item-container::after {
    background-color: #f49529;
    color: white;
}

/* For Footer */
footer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border-top: 2px solid black;
}
.footer-logo {
    justify-content: center;
    align-items: center;
    width: 15%;
    border-right: 2px solid black;
}
.footer-pic {
    width: 100%;
}
.footer-nav-a {
    display: flex;
    width: 15%;
    border-right: 2px solid black;
}
.footer-ul-one {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}
.footer-a {
    padding: 8px 0px;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: bold;
}
.footer-nav-b {
    display: flex;
    width: 15%;
}
.footer-ul-two {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}
.footer-b {
    margin-top: 1%;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: bold;
}
.h2-one {
    margin-top: 2%;
}
h5 {
    font-size: 9px;
}