<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Kanpai</title>
    <link rel="icon" sizes="200x200" href="../static/images/kanpai-logo-icon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart_page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/javascript/header.js}" defer></script>
</head>
<body>
    <header th:replace="~{/fragments/header.html}"></header>
    <main>
        <div class="cart-container">
            <div class="order-table">
                <form>
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartProduct:${cartItems}">
                            <td th:text="${cartProduct.name}"></td>
                            <td th:text="${cartProduct.quantity}"></td>
                            <td th:text="${cartProduct.price}"></td>
                            <td><a class="delete_button">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="for-other">
                <div class="for-total">
                    <div class="total-title">
                        <h4>Total</h4>
                    </div>
                    <div class="amount">
                        <h4>4000</h4>
                    </div>
                </div>
                <div class="for-total">
                    <div class="total-title">
                        <h4>Delivery Charge</h4>
                    </div>
                    <div class="amount">
                        <h4>Free</h4>
                    </div>
                </div>
                <div class="for-total">
                    <div class="total-title">
                        <h4>Grand Total</h4>
                    </div>
                    <div class="amount">
                        <h4>4000</h4>
                    </div>
                </div>
            </div>
            <div class="checkout-button">
                <button id="checkout" class="checkout">Checkout</button>
            </div>
        </div>
    </main>
    <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>