<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Kanpai</title>
    <link rel="icon" sizes="200x200" href="../static/images/kanpai-logo-icon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart_page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="" defer></script>
</head>
<body>
    <header th:replace="/fragments/header.html"></header>
    <main>
        <div class="cart-container">
            <div class="cart-title">
                <h2 class="cart-text">Cart</h2>
            </div>
            <!-- ----- -->
            <div class="item-main-area">
                <div class="item-table" th:each="productcarts:${productcart}">
                    <div class="item">
                        <div class="title">
                            <h4>Item</h4>
                        </div>
                        <div class="data">
                            <h4 th:text="${productcarts.name}"></h4>
                        </div>
                    </div>
<!--                    <div class="volume">-->
<!--                        <div class="title">-->
<!--                            <h4>Volume</h4>-->
<!--                        </div>-->
<!--                        <div class="data">-->
<!--                            <h4>400ml</h4>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="quantity">
                        <div class="title">
                            <h4>Quantity</h4>
                        </div>
                        <div class="data">
                            <div class="quantity-button">
                                <button id="substract" class="adub" >-</button>
                                <div class="h4">
                                    <h4 th:text="${productcarts.quantity}">1</h4>
                                </div>
                                <button id="add" class="adub" >+</button>
                            </div>
                        </div>
                    </div>
                    <div class="price">
                        <div class="title">
                            <h4>Price</h4>
                        </div>
                        <div class="data">
                            <h4 th:text="${productcarts.price}"></h4>
                        </div>
                    </div>
                    <div class="amounts">
                        <div class="title">
                            <h4>Amount</h4>
                        </div>
                        <div class="data">
                            <h4 th:text="${productcarts.price}"></h4>
                        </div>
                    </div>
                    <div class="remove">
                        <div class="title">
                            <h4></h4>
                        </div>
                        <div class="data">
                            <button id="remove" class="remove-button">x</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="for-other">
                <div class="for-total">
                    <div class="total-title">
                        <h4>Total</h4>
                    </div>
                    <div class="amount">
                        <h4>4000</h4>
                    </div>
                </div>
                <div class="for-total">
                    <div class="total-title">
                        <h4>Delivery Charge</h4>
                    </div>
                    <div class="amount">
                        <h4>Free</h4>
                    </div>
                </div>
                <div class="for-total">
                    <div class="total-title">
                        <h4>Grand Total</h4>
                    </div>
                    <div class="amount">
                        <h4>4000</h4>
                    </div>
                </div>
            </div>
            <div class="checkout-button">
                <button id="checkout" class="checkout">Checkout</button>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer.html"></footer>
</body>
</html>