<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanpai</title>
    <link rel="icon" sizes="200x200" th:href="@{/images/kanpai-logo-icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="" defer></script>
</head>
<body>
    <header th:replace="/fragments/header.html"></header>

    <main>
        <div class="main-img">
            <img class="home-img" th:src="@{/images/homepage_img.jpg}" alt="">
        </div>
        <h2 id="products-section" class="text-one">YOU MIGHT BE SEARCHING FOR THESE CATEGORIES</h2>
        <div class="item-div">
            <div class="item-one">
                <div class="item-title">
                    <h2>Whiskey</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/whiskey}">View items</a>
                </div>
            </div>
            <div class="item-two">
                <div class="item-title">
                    <h2>Vodka</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/vodka}">View items</a>
                </div>
            </div>
            <div class="item-three">
                <div class="item-title">
                    <h2>Wine</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/wine}">View items</a>
                </div>
            </div>
            <div class="item-four">
                <div class="item-title">
                    <h2>Gin</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/gin}">View items</a>
                </div>
            </div>
            <div class="item-five">
                <div class="item-title">
                    <h2>Tequila</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/tequila}">View items</a>
                </div>
            </div>
            <div class="item-six">
                <div class="item-title">
                    <h2>Tobacco</h2>
                </div>
                <div class="item-text">
                    <a class="a-text" th:href="@{/user/tobacco}">View items</a>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="/fragments/footer.html"></footer>
</body>
</html>
