<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiskey</title>
    <link rel="icon" sizes="200x200" href="../static/images/kanpai-logo-icon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product_tequila.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="" defer></script>
</head>
<body>
    <header th:replace="/fragments/header.html"></header>
    <main>
        <div class="whiskey-container">
            <div class="heading-title">
                <h1 class="h1-one">Tequila</h1>
            </div>
            <div class="main-item-container">
                <div class="item-container">
                    <div class="items" th:each="products:${product_tequila}">
                        <div class="for-image">
                            <div class="image">
                                <img th:src="'data:image/png;base64,'+${products.imageBase64}" width="230" height="227"/>
                            </div>
                            <div class="image-title">
                                <p th:text="${products.product_name}"></p>
                            </div>
                        </div>
                        <div class="for-description">
                            <h3 th:text="${products.product_price}"></h3>
                            <button class="button-one">Add to Cart</button>
                        </div>
                    </div>
                </div>
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-two">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-three">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-four">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-five">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-six">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-seven">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 2000</h3>-->
<!--                            <button class="button-eight">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer.html"></footer>
</body>
</html>