<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiskey</title>
    <link rel="icon" sizes="200x200" href="../static/images/kanpai-logo-icon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product_tobacco.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img class="head-img" th:src="@{/images/Kanpai_logo.png}" alt="">
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/landing}">Home</a></li>
                <li><a th:href="@{/landing#products-section}">Products</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">About us</a></li>
                <li><a th:href="@{/user/create}">Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="whiskey-container">
            <div class="heading-title">
                <h1 class="h1-one">Tobacco</h1>
            </div>
            <div class="main-item-container">
                <div class="item-container">
                    <div class="items" th:each="products:${product_tobacco}">
                        <div class="for-image">
                            <div class="image">
                                <img th:src="'data:image/png;base64,'+${products.imageBase64}" width="230" height="227"/>
                            </div>
                            <div class="image-title">
                                <p th:text="${products.product_name}"></p>
                            </div>
                        </div>
                        <div class="for-description">
                            <h3 th:text="${products.product_price}"></h3>
                            <button class="button-one">Add to Cart</button>
                        </div>
                    </div>
                </div>
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-two">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-three">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-four">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-five">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-six">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-seven">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container">-->
<!--                    <div class="items">-->
<!--                        <div class="for-image">-->
<!--                            <div class="image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="image-title">-->
<!--                                <p>image-title</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="for-description">-->
<!--                            <h3>Rs 200</h3>-->
<!--                            <button class="button-eight">Add to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-logo">
            <img class="footer-pic" th:src="@{/images/Kanpai_logo.png}" alt="">
        </div>
        <nav class="footer-nav-a">
            <ul class="footer-ul-one">
                <li><a class="footer-a" href="">My account</a></li>
                <li><a class="footer-a" href="../template/cart_page.html">Cart</a></li>
                <li><a class="footer-a" href="">Privacy Policy</a></li>
                <li><a class="footer-a" href="">Shipping Policy</a></li>
                <h5 class="h5-one">Caution</h5>
            <h5 class="h5-two">Drinking alcoholic beverages and smoking causes harm to your health. Please Drink Responsibly.</h5>
            </ul>
        </nav>
        <nav class="footer-nav-b">
            <ul class="footer-ul-two">
                <h3 class="h2-one">Connect with us :-</h3>
                <li><a class="footer-b" href="">Facebook</a></li>
                <li><a class="footer-b" href="">Instagram</a></li>
                <li><a class="footer-b" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRmVXBJrBFhRsTXzgzTkQSKKLzBJHGgfqMsNjScvHswBrFTGTnldxpKJvPHHctjBmdDlSsQ">Email-address</a></li>
                <li><a class="footer-b" href="">Viber</a></li>
                <li><a class="footer-b" href="">Whatsapp</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>